<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566447618233-qkkv9g6tu77goc9u3c6ak34aq3is5ajd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566447618233-qkkv9g6tu77goc9u3c6ak34aq3is5ajd</string>
	<key>API_KEY</key>
	<string>AIzaSyB0BTJMU-M6wqJOLHl0tkvkXo4qO2dyg9g</string>
	<key>GCM_SENDER_ID</key>
	<string>566447618233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPushNotification</string>
	<key>PROJECT_ID</key>
	<string>flutter-bbt-service</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bbt-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566447618233:ios:b3f2151079829865ab8368</string>
</dict>
</plist>